
.header {
    width: 1200px;
    max-height: 40px;
    color: #333;
    padding: 20px 80px  ;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo img {
    Width: 224px;
    Height: 40px;
    margin-left: 80px;

}

.navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navigation li {
    padding-right: 30px;

}

.menuItem a {
    text-decoration: none;
    color: #333;
    padding: 60px;

}
.menuItem a:hover,
.menuItem a:focus,
.menuItem a:active {
    color: #FF583E;
}
.icons {
    display: flex;
    align-items: center;
    padding-top: 12px;
}

.phoneIcon span {
    margin-right: 200px;
    font-weight: bold;
}
.phoneIcon {
    width: 30px;
    height: 30px;
}



.icons {
    display: flex;
    align-items: center;
}

.phoneIcon,
.cartIcon {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.phoneIconImg {
    width: 20px;
    height: 20px;
    margin-right: 0px;
}

.cartIcon img {
    width: 20px;
    height: 20px;
    margin-right: 0;
    margin-left: 115px;
}

